<launch>

  <node name="controller" pkg="bebop_demo" type="controller.py" output="screen"/>

  <param name="controller/sample_time" value="0.02" />
  <param name="controller/LPF_cutoff" value="0.7" />
  <param name="controller/LPF_order" value="3" />
  <param name='controller/goal_reached_pos_tol' value="0.50" />
  <param name='controller/goal_reached_pos_tol_slow' value="0.2" />
  <param name='controller/goal_reached_angle_tol' value="0.05" />
  <param name='controller/standard_height' value="2." />

  <!-- PID: -->
  <!-- hovering (aggressive) - PM 30 high I -->
  <param name='controller/Kp_x' value="0.414512301586973" />
  <param name='controller/Ki_x' value="0.099186864078710" />
  <param name='controller/Kd_x' value="0.342758666963628" />
  <param name='controller/Kp_y' value="0.435835619692328" />
  <param name='controller/Ki_y' value="0.106710622943458" />
  <param name='controller/Kd_y' value="0.352213132058268" />
  <param name='controller/Kp_z' value="6.136009204400096" />
  <param name='controller/Ki_z' value="2.425893957999262" />
  <param name='controller/Kd_z' value="3.070916085942403" />
  <param name='controller/Kp_yaw' value="10.885970747711189" />
  <param name='controller/Ki_yaw' value="5.933271024868479" />
  <param name='controller/Kd_yaw' value="3.951917743050121" />

  <!-- ff flying draw traj flying PM 45 high I-->
 <!--  <param name='controller/Kp_dt_x' value="1.0995" />
  <param name='controller/Ki_dt_x' value="0.2578" />
  <param name='controller/Kd_dt_x' value="0.9279" />
  <param name='controller/Kp_dt_y' value="0.9445" />
  <param name='controller/Ki_dt_y' value="0.2062" />
  <param name='controller/Kd_dt_y' value="0.8560" />
  <param name='controller/Kp_dt_z' value="4.1593" />
  <param name='controller/Ki_dt_z' value="4.0299" /> -->

  <!-- ff flying draw traj flying PM 40 high I-->
  <param name='controller/Kp_tt_x' value="0.197893000412730" />
  <param name='controller/Ki_tt_x' value="0.034709783752034" />
  <param name='controller/Kd_tt_x' value="0.223242416985159" />
  <param name='controller/Kp_tt_y' value="0.207800610097854" />
  <param name='controller/Ki_tt_y' value="0.037269365548298" />
  <param name='controller/Kd_tt_y' value="0.229250026368562" />
  <param name='controller/Kp_tt_z' value="3.958862577438060" />
  <param name='controller/Ki_tt_z' value="1.333694574060173" />
  <param name='controller/Kd_tt_z' value="2.325156696159398" />
  <param name='controller/Kp_tt_yaw' value="6.546090100310507" />
  <param name='controller/Ki_tt_yaw' value="2.935114269541734" />
  <param name='controller/Kd_tt_yaw' value="2.888728331226571" />

  <!-- <param name='controller/K_theta' value="0.15" /> -->
  <param name='controller/max_input' value="0.6" />
  <param name='controller/max_z_input' value="2." />
  <param name='controller/max_yaw_input' value="1." />

</launch>
